// src/app/features/auth/signup/signup.component.scss

form {
    margin-top: 20px;
  
    div {
      margin-bottom: 10px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px;
      }
    }
  
    button {
      padding: 10px 20px;
      background-color: #28a745;
      color: #fff;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #218838;
      }
    }
  }
  